In [1]:
import pandas as pd
MLB_Data_Final = pd.read_csv('MLB_Data_Cleaned.csv')
MLB_Data_Final

,Unnamed: 0,Season,Team,G_Bat,PA,HR,R,RBI,SB,BB%,...,ERA,xERA,FIP,xFIP,WAR_Pitch,OD,Current,AVG Salary,Median,Success_Score
0,0,1988,ATL,2119,6013,96,555,527,95,7.2%,...,4.10,NaN,3.80,NaN,11.0,9967167.0,9967167.0,383353,140000,33.75
1,1,1988,BAL,1706,5979,137,550,517,69,8.4%,...,4.55,NaN,4.37,NaN,6.3,9995404.0,9995404.0,416475,162500,33.54
2,2,1988,BOS,1644,6334,124,813,760,65,9.8%,...,3.98,NaN,3.67,NaN,18.7,15544592.0,15544592.0,597869,405000,54.94
3,3,1988,CHC,2094,6203,113,660,612,120,6.5%,...,3.88,NaN,3.63,NaN,14.4,12339833.0,12339833.0,457031,207500,47.53
4,4,1988,CHW,1705,6039,132,631,573,98,7.4%,...,4.13,NaN,4.15,NaN,7.9,5906952.0,5906952.0,218776,142000,44.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,895,2018,STL,2464,6200,205,759,725,63,8.5%,...,3.85,NaN,3.97,4.24,14.4,101583666.0,145166999.0,5184536,1835000,54.32
896,896,2018,TBR,2371,6195,150,716,664,128,8.7%,...,3.75,NaN,3.82,3.98,17.4,63147666.0,69905999.0,2589111,720000,55.56
897,897,2018,TEX,2300,6163,194,737,696,74,9.0%,...,4.92,NaN,4.79,4.59,10.8,110154583.0,129237916.0,4038685,1025000,41.36
898,898,2018,TOR,2435,6076,217,709,680,47,8.2%,...,4.85,NaN,4.53,4.54,8.8,144122200.0,145550771.0,5018992,2600000,45.06
899,899,2018,WSN,2441,6288,191,771,737,119,10.0%,...,4.04,NaN,4.15,4.13,16.4,141622200.0,180193627.0,6006454,3500000,50.62

Data to add:
- for each year, who is wl

In [2]:
#MLB_Data_Final['Success_Score'] = (MLB_Data_Final['W']/(MLB_Data_Final['W'] + MLB_Data_Final['L']))*100

MLB_Data_Final['Success_Score'] = round((MLB_Data_Final['W']/(MLB_Data_Final['W'] + MLB_Data_Final['L']))*100, 2)

#MLB_Data_Final.to_csv('MLB_Data_Cleaned.csv')

In [7]:
#MLB_Data_Final.head()
s_bool = MLB_Data_Final['Team'] == 'CHC'
MLB2 = MLB_Data_Final.loc[s_bool, :]
MLB2.loc[:, ['Season', 'Team', 'Success_Score']]

     Season Team  Success_Score
3      1988  CHC          47.53
29     1989  CHC          57.41
55     1990  CHC          47.53
81     1991  CHC          48.12
107    1992  CHC          48.15
133    1993  CHC          51.85
161    1994  CHC          43.36
189    1995  CHC          50.69
217    1996  CHC          46.91
245    1997  CHC          41.98
274    1998  CHC          55.21
304    1999  CHC          41.36
334    2000  CHC          40.12
364    2001  CHC          54.32
394    2002  CHC          41.36
424    2003  CHC          54.32
454    2004  CHC          54.94
484    2005  CHC          48.77
514    2006  CHC          40.74
544    2007  CHC          52.47
574    2008  CHC          60.25
604    2009  CHC          51.55
634    2010  CHC          46.30
664    2011  CHC          43.83
694    2012  CHC          37.65
724    2013  CHC          40.74
754    2014  CHC          45.06
784    2015  CHC          59.88
814    2016  CHC          63.98
844    2017  CHC          56.79
874    2018  CHC          58.28